<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <!-- <ul class="nav navbar-nav"> -->
          <!-- <li class="active"><a routerLink="/home">Home <span class="sr-only">(current)</span></a></li>
        </ul>
        <ul class="nav navbar-nav">
          <li class="active"><a routerLink="/contact">ContactUs <span class="sr-only">(current)</span></a></li>
        </ul>
        <ul class="nav navbar-nav">
          <li class="active"><a routerLink="/about">About Us <span class="sr-only">(current)</span></a></li>
        </ul>
        <ul class="nav navbar-nav">
          <li class="active"><a routerLink="/emplist">Employee list from Service <span
                class="sr-only">(current)</span></a></li>
        </ul>
        <ul class="nav navbar-nav">
          <li class="active"><a routerLink="/emp">Employee using WEB API <span class="sr-only">(current)</span></a></li>
        </ul>
        <ul class="nav navbar-nav">
          <li class="active"><a routerLink="/product">Product List <span class="sr-only">(current)</span></a></li>
        </ul>
        <ul class="nav navbar-nav">
          <li class="active"><a routerLink="/template">Template Driven Forms <span class="sr-only">(current)</span></a>
          </li>
        </ul>
        <ul class="nav navbar-nav">
          <li class="active"><a routerLink="/reactive">Reactive form Demo <span class="sr-only">(current)</span></a></li>
        </ul> -->
  
         <ul class="nav navbar-nav">
          <li class="active"><a routerLink="/product">Product <span class="sr-only">(current)</span></a>
          </li> 
        </ul> 
        <ul class="nav navbar-nav">
          <li class="active"><a routerLink="/getid">Search <span class="sr-only">(current)</span></a></li>
        </ul>
        <!-- <ul class="nav navbar-nav navbar-right">
                <li><a routerLink="/login">Login</a></li>
                <li><a routerLink="/register">Register</a></li>
            </ul> -->
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  <!-- <app-editproduct></app-editproduct> -->
  <router-outlet></router-outlet>